﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Datos de los ticket</title>


    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/tablas.css">
    <link rel="stylesheet" href="~/fonts.css">

    <!-- searchPanes -->
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
    <!-- select -->
    <link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
    <script src="~/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/datatables/datatables.js"></script>
</head>
<body>

    <header>
        <nav>

            <ul>
                <img class="imagen" src="~/img/logo.jpg">
                <li>
                    <a href="#"><span class="cuarto"><i class="icon icon-ticket"></i></span>Tickets</a>
                    <ul>
                        <li > <a href="@Url.Action("Index", "Soporte", new { tipo = 0})"><i class="icon icon-list">   </i>Sin Asignar</a>
                        <li > <a href="@Url.Action("Index", "Soporte", new { tipo = 3})"><i class="icon icon-copy">   </i>Mis tickets</a>
                        <li > <a href="@Url.Action("Index", "Soporte", new { tipo = 1})"><i class="icon icon-folder-minus">   </i>Asignados</a>
                        <li > <a href="@Url.Action("Index", "Soporte", new { tipo = 2})"><i class="icon icon-search">   </i>Todos</a>
                        <li > <a href="#"><i class="icon icon-plus">   </i>Nuevo</a>

                    </ul>

                </li>
                <li>
                    <a href="#"><span class="segundo"><i class="icon icon-users"></i></span>Usuarios</a>
                    <ul>
                        <li><a href="#">Nuevos</a></li>
                        <li><a href="#">Registro</a></li>

                    </ul>
                </li>
                <li><a href="#"><span class="tercero"><i class="icon icon-paste"></i></span>Tareas</a></li>
                


                <li><a href="#"><span class="quinto"><i class="icon icon-database"></i></span>Base de conocimiento</a></li>
                <li><a href="@Url.Action("Login", "Soporte")"><span class="quinto"><i class="icon icon-exit"></i></span>Salir</a></li>
            </ul>
        </nav>
    </header>


    <div style="height:5px"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>
    

    <!--Ejemplo tabla con DataTables-->



    <script src="~/popper/popper.min.js"></script>
   
    <!-- datatables JS -->
    <script type="text/javascript" src="~/datatables/datatables.min.js"></script>

    <script type="text/javascript" src="~/main.js"></script>




    <div class="modal fade" id="tmodal" tabindex="-1" role="dialog" aria-labelledby="tmodal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Respuesta</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success">Aceptar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <!-- modal tickets abiertos -->

    <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Abiertos</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Ticket</th>
                                                        <th>Ultima actualizacion</th>
                                                        <th>Asunto</th>
                                                        <th>Prioridad</th>
                                                        <th>Asignado</th>
                                                        <th>Departamento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>00001</td>
                                                        <td>20/10/2020</td>
                                                        <td>fallo en el sistema </td>
                                                        <td>normal</td>
                                                        <td>Daniel L </td>
                                                        <td>Soporte</td>
                                                    </tr>

                                                    <tr>
                                                        <td>00002</td>
                                                        <td>20/10/2020</td>
                                                        <td>computadora mala </td>
                                                        <td>normal</td>
                                                        <td>Daniel L </td>
                                                        <td>Soporte</td>
                                                    </tr>
                                                    <tr>
                                                        <td>00003</td>
                                                        <td>23/10/2020</td>
                                                        <td>programa pegado </td>
                                                        <td>normal</td>
                                                        <td>Daniel L </td>
                                                        <td>Soporte</td>
                                                    </tr>
                                                    <tr>
                                                        <td>00004</td>
                                                        <td>26/10/2020</td>
                                                        <td>no enciende </td>
                                                        <td>normal</td>
                                                        <td>Donovan A </td>
                                                        <td>Soporte</td>
                                                    </tr>
                                                    <tr>
                                                        <td>00005</td>
                                                        <td>29/10/2020</td>
                                                        <td>problemas de red </td>
                                                        <td>normal</td>
                                                        <td>Kevin N </td>
                                                        <td>Soporte</td>
                                                    </tr>
                                                    <tr>
                                                        <td>00006</td>
                                                        <td>20/10/2020</td>
                                                        <td>laptop mala </td>
                                                        <td>normal</td>
                                                        <td>dijeff </td>
                                                        <td>Soporte</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <p>En la siente pantalla ayudara a entender lo que viene siendo los tickets abiertos.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success">Aceptar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>








    <!-- modal tickets nuevos -->

    <div class="modal fade" id="fm-nuevo-modal" tabindex="-1" role="dialog" aria-labelledby="fm-nuevo-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Nuevo Ticket</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container">
                                <div class="container">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <form action="">
                                                <div class="form-group">
                                                    <label for="nombre">Ticket</label>
                                                    <input type="text" class="form-control" placeholder="Ticket" name="Ticket" id="Ticket">
                                                </div>

                                                <div class="form-group">
                                                    <label for="pass">Actualizacion</label>
                                                    <input type="text" class="form-control" placeholder="actualizacion" name="actualizacion" id="actualizacion">

                                                </div>

                                                <div class="form-group">
                                                    <label for="mensaje">Asunto</label>
                                                    <textarea name="Asunto" id="Asunto" class="form-control"></textarea>

                                                </div>

                                                <div class="form-group">
                                                    <label for="Prioridad">Prioridad</label>
                                                    <select name="Prioridad" id="Prioridad" class="form-control">
                                                        <option value="baja">Baja</option>
                                                        <option value="Normal">Normal</option>
                                                        <option value="Alta">Alta</option>
                                                    </select>
                                                </div>


                                                <div class="form-group">
                                                    <label for="Asignado">Asignado</label>
                                                    <select name="Asignado" id="Asignado" class="form-control">
                                                        <option value="nombre">Daniel L</option>
                                                        <option value="nombre">Daniel G </option>
                                                        <option value="nombre">Donovan A</option>
                                                        <option value="nombre">Kevin N</option>
                                                        <option value="nombre">Dijef M </option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="Departamento">Departamento</label>
                                                    <select name="Departamento" id="Departamento" class="form-control">
                                                        <option value="Departamento">Soporte</option>
                                                        <option value="Departamento">TI</option>
                                                        <
                                                    </select>
                                                </div>


                                                <div class="col-12 col-sm-9 col-md-4">
                                                    <button class="btn btn-primary btn-block" type="submit">Enviar</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="modal-footer">

                                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
        <!-- select -->
        <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>





       
</body>
</html>