*{
margin: 0;
padding: 0;

}

.caja{

background: #fdfdfb;
width: 100%;
height: 500px;
overflow: hidden;
border: 1px ridge #000;

}

.tabla1{

background: #f5fafa;
width: 100%;
height: 200px;

margin: 20px;

}

.tabla2{

background: #f5fafa;
width: 100%;
height: 200px;
margin: 20px;
}

.ta{

	color:#fff;
margin-left: 20px;
font-size: 30px;
}

h1{
color: #1ffa45;
margin-left: 30px;

}


table, th, td {
	border: 1px solid rgba(0,0,0,.2);
}

table {
	margin: 10px auto;
	border-collapse: collapse;
	width: 500px;
	text-align: center;
}

th, td {
	padding:10px 20px;
}

th {
	background: #000;
	color: #fff;
}

tr:hover {
	background: #e5e5e5;
}
.titulo{

background: #000;
width:100%;
height:70px;  


}
@keyframes barra {
	0%{background: #000;}
	25%{background: #065a82; width: 500px;}
	50%{background: #065a82; width: 800px;}
	75%{background: #1b3b6f; width: 500px;}
	100%{background: #000; width: 400px;}
	
}

.anima{

width:400px;	
height:60px;
background: #000;  
animation-name: barra;
animation-duration:5s;
animation-iteration-count:infinite;  

}

.menu{

	list-style: none;
	padding: 0;
	background: #000;
	width: 90%;
	max-width: 100%;
	margin: 20px ;

}
 .menu li a { 

 	color: #fff;
 	text-decoration:none;
 	display: block;
 	padding: 20px;
 	font-size: 25px;

 }

 .menu li a:hover {
background: #ef8354;

 }
 
 .menu li{
 	display: inline-block;
 	text-align: center;
 }
 .titulot{

 	background: #000;
 	color: #fff;
 }