@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4dqmgc');
  src:  url('fonts/icomoon.eot?4dqmgc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4dqmgc') format('truetype'),
    url('fonts/icomoon.woff?4dqmgc') format('woff'),
    url('fonts/icomoon.svg?4dqmgc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-database:before {
  content: "\e964";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-exit:before {
  content: "\ea14";
}
