*{

padding: 0;
margin:0;

}

body{
 background: #E8EAEB;


}

.caja{

background: #fff;
width: 90%;
height: auto;
margin-left: 60px;
bottom: -20px;
text-align:center; 
position: relative;

}

.mensajes{
 background:#fff;
width: 1200px;
position: relative;
margin: 20px auto;
padding: 0px;
border: 1px solid #000;
box-shadow:0 5px 3px rgba(0,0,0,.5);


}
p{
	color: #000;
}

.respuestaA{
 background:#fff;
width: 1200px;
position: relative;
margin: 20px auto;
padding: 0px;
border: 1px solid blue;
box-shadow:0 5px 3px rgba(0,0,0,.5);

}

.arriba{
background: #FFDF5C;
width:1200;
margin: 0px auto;

}
.arriba2{
background: #6BE2FF;
width:1200;
margin: 0px auto;

}
.agente {
	float: left;
	 font-family: monospace;
}

.correo{
	position: relative;
margin: 20px auto;
	background: #fff;
	height: 0px auto;
	border: 1px solid black;
box-shadow:0 5px 3px rgba(0,0,0,.5);
}

.cuerpo{

width: 1200px;
height: 300px;

}