﻿@using Sistema_Control_Soporte.Controllers;
@{
    
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">
            <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Asunto</th>
                        <th>departamento</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Fuente</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                   @{ 
                       List<ticket> lista;
                       lista = ViewBag.tickets;

                       foreach (ticket t in lista)
                       {
                            <tr>
                                <td>@t.id</td>
                                <td>@t.situacion</td>
                                <td>@t.departamento</td>
                                <td>@t.nombreCliente</td>
                                <td>@t.fechaRegistro</td>
                                <td>@t.fuente</td>
                                <td>
                                    <div class="text-center">
                                        <div class="btn-group">

                                            <a class="btnrespuesta" href="@Url.Action("Respuesta", "Soporte", new { idt = t.id})" idt="@t.id">Responder</a>

                                        </div>



                                    </div>
                                </td>

                            </tr>
                       }

                   }

                </tbody>
            </table>
        </div>
    </div>
</div>
