﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/estilo.css" />

    <script src="https://cdn.tiny.cloud/1/dohckbplsb1w4y863a99x6emvl8xmx06ir6ai018yfl5b71b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Soporte Técnico</title>

    <script src="~/jquery/jquery-3.3.1.min.js"></script>

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="Login" method="post" class="sign-in-form">
                    <h2 class="title">Inicio</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Usuario" name="username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="contraseña" name="password" />
                    </div>
                    <input type="submit" value="Entrar" class="btn solid" />


                </form>
                <form action="#" class="sign-up-form">
                    <h2 class="title">Registro</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Usuario" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="contraseña" />
                    </div>
                    <input type="submit" class="btn" value="Registrar" />





                </form>
              
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>¿Eres nuevo aqui?</h3>
                    <p>
                        Registrate para poder ingresar a nuestro sistema!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        Registrar
                    </button>
                </div>
                <div class="content">
                    <h3>¿Quieres agregar un caso?</h3>
                    <p>
                        Agregalo aquí directamente!
                    </p>
                    <a class="btn transparent" href="@Url.Action("Solicitud", "Soporte")" style="padding: 3% 3% 3% 3%; " >
                        Crear Caso
                    </a>
                </div>
                <img src="~/img/img1.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>¿Como ingresar ?</h3>
                    <p>
                        Completa los siguientes campos para poder registrarte de manera correcta.
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Inicio
                    </button>
                </div>
                <img src="~/img/img2.svg" class="image" alt="" />
            </div>
        </div>
    </div>


  



        @{
            String res = "";
            res = ViewBag.error;
            if (res != "")
            {
                <script>
                    alertify.error("Error:  @res");
                </script>
            }

        }
        <script src="~/app.js"></script>
</body>
</html>
