﻿@using Sistema_Control_Soporte.Controllers;
@{
    ViewBag.Title = "Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.tiny.cloud/1/dohckbplsb1w4y863a99x6emvl8xmx06ir6ai018yfl5b71b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        menubar: false,
        statusbar: false,
        setup: function (ed) {
            ed.on("change", function (e) {
                if (tinymce.activeEditor.getContent() != "") {
                    $("#btnenviar").css("visibility", "visible");
                } else {
                    $("#btnenviar").css("visibility", "hidden");
                        ;
                }
            });
           
        }
    });
</script>
<h2>Respuesta</h2>
<script src="~/jquery/jquery-3.4.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>

<div class="card-group">
    <div class="col-lg-12">
        <div class="card-header" style="height: 120px;">
            @{
                ticket t = ViewBag.ticket;

            }
            <div style="width: 50%; float:left;">ID Ticket : @t.id  </div>
            <div style="width: 50%; float:left;">Fecha Registro : @t.fechaRegistro  </div>
            <div style="width: 50%; float:left;">Cliente : @t.nombreCliente</div>
            <div style="width: 50%; float:left;">Asunto : @t.situacion    </div>
            <div style="width: 50%; float:left;">Departamento : @t.departamento  </div>
            <div style="width: 50%; float:left;">Tema : @t.tema  </div>
            <div style="width: 50%; float:left;">Fuente : @t.fuente  </div>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="card-body">
            <div class="card-group" style="border: solid 1px black;">
                <div class="card-header">
                    @t.nombreCliente  @t.horaRegistro
                </div>
                <div class="card-body">
                    @Html.Raw(HttpUtility.HtmlDecode(t.descripcion))
                </div>
                @{
                    if (t.Archivos != null)
                    {
                        if (t.Archivos.Count > 0)
                        {
                        <div class="card-body">

                            @foreach (string f in t.Archivos)
                            {
                                <a href="@f"> Adjunto  </a>
                            }
                        </div>


                            }
                        }
                    }
            </div>
        </div>
        @{
            List<respuesta> lista = new List<respuesta>();
            lista = ViewBag.repuestas;
            if (lista.Count > 0)
            {
                foreach (respuesta re in lista)
                {

                    <div class="card-body">

                        <span class="pull-right avatar" style="float: left; width: 9%; margin-bottom: 1%;">
                            <img class="avatar" alt="Avatar" src="//www.gravatar.com/avatar/253db121e1511b51d1cd2cf7308b8b7b?s=80&amp;d=mm">
                        </span>

                        <div class="card-group" style="border: solid 1px black; float: right ;width: 90%;margin-bottom: 1%; ">
                            <div class="card-header">
                                @re.Agente  @re.Fecha @re.contador
                            </div>
                            <div class="card-body">
                                @Html.Raw(HttpUtility.HtmlDecode(re.contenido))
                            </div>
                            @{
                                if(re.Archivos != null) { 
                                    if (re.Archivos.Count > 0)
                                    {
                                        <div class="card-body">

                                            @foreach (string f in re.Archivos)
                                            {
                                                <a href="@f">  Adjunto </a>
                                            }
                                        </div>


                                    }
                                }
                            }
                        </div>

                    </div>
                    <br />
                                    }
                                }

        }
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm("Respuesta", "Soporte", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <textarea id="mytextarea" name="descripcion"></textarea>
            <input type="hidden" value="@t.id" name="id_ticket"></input>
            <br />
            <button id="btnenviar" class="btn btn-primary" type="submit" style="visibility:hidden;">Enviar Respuesta al Cliente</button>
        }

        @using (Html.BeginForm("Finalizar", "Soporte", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="hidden" value="@t.id" name="id_ticket"></input>

            <button class="btn btn-primary" type="submit">Cerrar Caso</button>
        }

    </div>

</div>
<script>
    function myCustomOnChangeHandler(inst) {
        alert("Some one modified something");
        alert("The HTML is now:" + inst.getBody().innerHTML);
    }

</script>
