﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Solicitud</title>
    <script src="https://cdn.tiny.cloud/1/dohckbplsb1w4y863a99x6emvl8xmx06ir6ai018yfl5b71b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tablas.css">
    <link rel="stylesheet" href="~/fonts.css">
    <link rel="stylesheet" href="~/Content/alertifyjs/alertify.css" />
    <script>
        tinymce.init({
            selector: '#mytextarea',
            statusbar: false,
            menubar: false
        });
    </script>

    <script src="~/jquery/jquery-3.3.1.min.js"></script>

    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
</head>
<body>
    <header>
        <nav>

            <ul>
                <img class="imagen" src="~/img/logo.jpg">





                <li><a href="#"><span class="quinto"><i class="icon icon-database"></i></span>Base de conocimiento</a></li>
                <li><a href="@Url.Action("Login", "Soporte")"><span class="quinto"><i class="icon icon-exit"></i></span>Iniciar Sesion Agente</a></li>
            </ul>
        </nav>
    </header>

    @{
        if (ViewBag.Message != "")
        {
            string mensaje = ViewBag.Message;

            if (mensaje.ToLower().Contains("error"))
            {
                <script>
                alertify.error('@mensaje');
                </script>
            }
            else
            {
                <script>
                alertify.success('@mensaje');
                </script>
            }


        }
    }

    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="container">
                    <div class="row mt-3">
                        <div class="col">
                            @using (Html.BeginForm("Solicitud", "Soporte", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label for="pass">Asunto</label>
                                    <input type="text" class="form-control" placeholder="Asunto" name="asunto" id="actualizacion">

                                </div>

                                <div class="form-group">
                                    <label for="pass">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="actualizacion">

                                </div>

                                <div class="form-group">
                                    <label for="mensaje">Correo Electrónico</label>
                                    <input type="email" class="form-control" placeholder="Email" name="email" id="email">

                                </div>



                                <div class="form-group">
                                    <label for="Asignado">Departamento</label>
                                    <select name="departamento" id="depto" class="form-control">
                                        <option selected>Seleccione un departamento</option>
                                        @{
                                            List<string> lista = ViewBag.listad;

                                            foreach (string depto in lista)
                                            {
                                                <option>@depto</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="pass">Descipción</label>
                                    <textarea id="mytextarea" name="descripcion"></textarea>

                                </div>
                                <div class="form-group">

                                    <input type="file" id="file" name="uploadFile" /><br><br>

                                </div>


                                <div class="col-12 col-sm-9 col-md-4">
                                    <button class="btn btn-primary btn-block" type="submit" onclick="">Enviar</button>
                                </div>
                            }
                        </div>
                    </div>




                </div>
            </div>
        </div>

</body>
</html>
